################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/уют!/v17
/.vs
/packages
/UnitTest_uut/obj/Debug
/UnitTest_uut/bin/Debug
